<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Call For Papers</title>
</head>
<body>
  <h1>Call for papers</h1>
  <a asp-page="About">About</a>
  <div>
    @RenderBody()
  </div>
</body>
</html>
