<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Call for papers</title>
</head>
<body>
  <h1>Call for papers</h1>
  <div>
    @RenderBody()
  </div>
</body>
</html>
